html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*spinner*/
.loader-block {
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 140px);
    text-align: center;
    z-index: 999;
}

.loader {
    border: 16px solid#3f51b5;
    border-top: 16px solid blue;
    border-right: 16px solid white;
    border-bottom: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.pageButton {
    background-color: #3f51b5;
    color: white;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    border-color: #3f51b5;
    border-style: solid;
    border-width: 1px;
}

    .pageButton:hover {
        background-color: white;
        color: #3f51b5;
    }

    .pageButton:focus {
        outline: 0;
    }
